@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background-image: url("../img/musicBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('../img/cursor.png'), default;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.logo{
    width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: white;
}
.nav-link:hover{
    color: #5a0212;
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
}
.section-gallery{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.gallery-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.gallery-items{
    display: flex;

}
.gallery-two-items{
    display: flex;
}
.picture-1{
    width: 350px;
    padding: 5px;
}
footer{
    color: white;
    text-align: center;
}